@*@model BlogProject12.Models.BlogModel*@
@model Tuple<BlogProject12.Models.BlogModel, IEnumerable<BlogProject12.Models.TagModel>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var title = "Create Tag";
}


<h1>Create a blog</h1>

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">

        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    Blog Title
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Item1.BlogTitle" class="form-control" />
                    <span asp-validation-for="@Model.Item1.BlogTitle" class="text-danger"></span>
                </div>
                <div><br></div>
                <div class="col-4">
                    Blog Content
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Item1.BlogRaw" class="form-control" />
                    <span asp-validation-for="@Model.Item1.BlogRaw" class="text-danger"></span>
                </div>
                <div class="col-4">
                    Select Tag
                </div>
                <div class="col-8">
                    <select id="dropdowntag">
                        <option TagId=0>Select Item</option>

                        @{
                            foreach (var item in Model.Item2)
                            {
                                <option TagId=@item.Id>@item.TagName</option>
                            }
                        }

                    </select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">

                    <button type="submit" class="btn btn-primary form-control">Blog Post</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
