@model Tuple<BlogProject12.Models.BlogModel, BlogProject.Models.UserModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</style>

<div class="row pb-3 backgroundWhite">
    <div><h1>@Model.Item1.BlogTitle</h1></div>

    <br><hr>
    <div class="container">
        <div class="row">
            <p>@Model.Item1.BlogRaw</p>
        </div>
    </div>

    <br><br><hr>
    <p>@Model.Item1.Tag</p>
    <br><br><hr />
    <p>@Model.Item1.BlogPostDate</p>
    <br><br><hr />

    @if (Model.Item2 == null)
    {
        <p>Posted By-</p>
        <p>No User found</p>
    }
    else
    {
        <p>Posted By-</p>
        <p>@Model.Item2.UserName</p>

        <p>@Model.Item2.Id</p>

        <p> Email-</p>
        <p> @Model.Item2.Email</p>


       @* <p> @User.FindFirst("Id").Value</p>

        <p> Email-</p>
        <p> @User.FindFirst("Email").Value</p>*@



    }

</div>

