@model IEnumerable<BlogProject12.Models.BlogModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

<style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</style>


    <!-- Button trigger modal-->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
        <h3>Post Your Blog</h3>
    </button>

    <!-- Modal-->
    <div class="modal hide" id="exampleModalCenter" data-backdrop="static" tabindex="1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                    <a asp-area="Blog" asp-controller="Home" asp-action="CreateWrite"> <h2><i class="flaticon2-pen text-danger icon-4x"></i></h2><h5 class="text-white">Write Here!!</h5></a>
                </button>
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                    <a asp-area="Blog" asp-controller="Home" asp-action="CreateUpload"><i class="flaticon2-arrow-up text-black-50 icon-4x"></i> <h5 class="text-white">Upload File!!</h5></a>
</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="flaticon2-delete text-black-50 icon-4x"></i><h5 class="text-white">Cancel</h5>
                </button>
            </div>
        </div>
    </div>


<div class="row pb-3 backgroundWhite">



    @if (User.FindFirst("IsAdmin").Value == "0")
    {


        @foreach (var blog in Model)
        {
            @if (blog.IsApproved == 1)
            {
                <div class="container">
                    <div class="row">

                        @* Metronic Content Card View*@
                        <div class="card card-custom">
                            <div class="card-header">
                                <div class="card-title">
                                    <span class="card-icon">
                                        <i class="flaticon2-chat-1 text-primary"></i>
                                    </span>
                                    <h3 class="card-label green-turquoise">
                                        @blog.BlogTitle
                                        @* <small>@blog.Tag</small>*@
                                    </h3>
                                </div>
                                <div class="card-toolbar">
                                    <a class="btn btn-outline-secondary font-weight-bold">
                                        <i class="flaticon-calendar"></i> @blog.BlogPostDate.Date.
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                @blog.BlogRaw.Substring(0, 1500)
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="#" class="btn btn-light-primary font-weight-bold">User Name</a>
                                <a asp-area="Blog" asp-controller="Home" asp-action="Detail" asp-route-id="@blog.Id" class="btn btn-sm btn-success font-weight-bold">Full Content Here!!</a>
                            </div>
                        </div>

                        <div class="container">

                            <div class="row">

                                <br>
                                <br>

                            </div>

                        </div>

                    </div>

                </div>
            }
        }
    }


</div>


<div class="row pb-3 backgroundWhite">


    @if (User.FindFirst("IsAdmin").Value == "1")
    {

        <div><br> Blog Request List<hr><br></div>

        @foreach (var blog in Model)
        {
            @if (blog.IsRequested == 1 && blog.IsApproved == 0 && blog.IsRejected == 0 && blog.ChangeRequested == 0)
            {
                <div class="container">
                    <div class="row">

                        @* Metronic Content Card View*@
                        <div class="card card-custom">
                            <div class="card-header">
                                <div class="card-title">
                                    <span class="card-icon">
                                        <i class="flaticon2-chat-1 text-primary"></i>
                                    </span>
                                    <h3 class="card-label">
                                        Card Footer
                                        <small>sub title</small>
                                    </h3>
                                </div>
                                <div class="card-toolbar">
                                    <a href="#" class="btn btn-sm btn-success font-weight-bold">
                                        <i class="flaticon2-cube"></i> Reports
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                ...
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="#" class="btn btn-light-primary font-weight-bold">Manage</a>
                                <a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
                            </div>
                        </div>

                        <div class="container">

                            <div class="row">

                                <br>
                                <br>

                            </div>

                        </div>

                    </div>

                </div>
            }
        }

    }


</div>



